.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.align-left {
	text-align: left!important;
}
.align-right {
	text-align: right!important;
}
.align-center {
	text-align: center!important;
}
.align-top {
  vertical-align: top!important;
}
.align-middle {
  vertical-align: middle!important;
}
.align-bottom {
  vertical-align: bottom!important;
}
.align-baseline {
  vertical-align: baseline!important;
}
.fl-right {
  float: right;
}
.fl-left {
  float: left;
}
.txt-indent {
  text-indent: -1rem;
  margin-left: 1rem;
}
.hidden {
  visibility: hidden;
}

/* 余白の汎用クラス */
$num: 5;
@for $i from 0 through 5 {
  .mt-#{$i * $num} { margin-top: #{$i * $num}px !important; }
  .mr-#{$i * $num} { margin-right: #{$i * $num}px !important; }
  .mb-#{$i * $num} { margin-bottom: #{$i * $num}px !important; }
  .ml-#{$i * $num} { margin-left: #{$i * $num}px !important; }
  .pt-#{$i * $num} { padding-top: #{$i * $num}px !important; }
  .pr-#{$i * $num} { padding-right: #{$i * $num}px !important; }
  .pb-#{$i * $num} { padding-bottom: #{$i * $num}px !important; }
  .pl-#{$i * $num} { padding-left: #{$i * $num}px !important; }
}